code/NodeREDflow.json
[{"id":"73a9c0e6.d353d","type":"tab","label":"IoT_Project_New","disabled":false,"info":""},{"id":"c13b67ab.6ccdb8","type":"function","z":"73a9c0e6.d353d","name":"Identify the area","func":"var d1area1 = global.get(\"D1P1\");\nvar d1area2 = global.get(\"D1P2\");\nvar d1area3 = global.get(\"D1P3\");\nvar d2area1 = global.get(\"D2P1\");\nvar d2area2 = global.get(\"D2P2\");\nvar d2area3 = global.get(\"D2P3\");\nvar d3area1 = global.get(\"D3P1\");\nvar d3area2 = global.get(\"D3P2\");\nvar d3area3 = global.get(\"D3P3\");\n\nvar isInside = false;\nvar position = \"\";\nfunction checkArea(rssi1,rssi2,rssi3,area1,area2,area3){\n    const upper = 1.075;\n    const lower = 0.925;\n    \n    if ((rssi1>=upper*area1.RSSI1 && rssi1<=lower*area1.RSSI1) && (rssi2>=upper*area1.RSSI2 && rssi2<=lower*area1.RSSI2) && (rssi3>=upper*area1.RSSI3 && rssi3<=lower*area1.RSSI3)) {\n        position = \"area1\";\n    }\n    else if ((rssi1>=upper*area2.RSSI1 && rssi1<=lower*area2.RSSI1) && (rssi2>=upper*area2.RSSI2 && rssi2<=lower*area2.RSSI2) && (rssi3>=upper*area2.RSSI3 && rssi3<=lower*area2.RSSI3)) {\n        position = \"area2\";\n    }\n    else if ((rssi1>=upper*area3.RSSI1 && rssi1<=lower*area3.RSSI1) && (rssi2>=upper*area3.RSSI2 && rssi2<=lower*area3.RSSI2) && (rssi3>=upper*area3.RSSI3 && rssi3<=lower*area3.RSSI3)) {\n        position = \"area3\";\n    }\n    else if (rssi1 > -100 && rssi2 > -100 && rssi3 > -100){\n        position = \"inside\";\n    }\n    else {\n        position = \"outside\";\n    }\n    return position;\n}\n\n\nvar UIID1_position = checkArea(global.get(\"UUID1\").RSSI1 ,global.get(\"UUID1\").RSSI2 ,global.get(\"UUID1\").RSSI3 ,d1area1 ,d1area2 ,d1area3);\nvar UIID2_position = checkArea(global.get(\"UUID2\").RSSI1 ,global.get(\"UUID2\").RSSI2 ,global.get(\"UUID2\").RSSI3 ,d2area1 ,d2area2 ,d2area3);\nvar UIID3_position = checkArea(global.get(\"UUID3\").RSSI1 ,global.get(\"UUID3\").RSSI2 ,global.get(\"UUID3\").RSSI3 ,d3area1 ,d3area2 ,d3area3);\n\nif (UIID1_position != \"outside\" || UIID2_position != \"outside\" || UIID3_position != \"outside\"){\n    isInside = true;\n}\n\nglobal.set(\"D1_Position\" , UIID1_position);\nglobal.set(\"D2_Position\" , UIID2_position);\nglobal.set(\"D3_Position\" , UIID3_position);\nglobal.set(\"condition\" , isInside);\nif (isInside) {\n    global.set(\"per_light\" , \"1\");\n    \n    if (UIID1_position == \"area2\" || UIID2_position == \"area2\" || UIID3_position == \"area2\"){\n        global.set(\"pos_light\",\"1\");\n    }\n    else {\n        global.set(\"pos_light\",\"0\");\n    }\n}\nelse {\n    global.set(\"per_light\" , \"0\");\n    global.set(\"pos_light\",\"0\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1520,"wires":[["96ead738.18a3e8","fb5fd88c.cab8a8","44757116.d53a2","87f9d3b.e53853","56abaa62.06e624","32a61697.6720aa"]]},{"id":"f9652a40.e93b08","type":"ui_text","z":"73a9c0e6.d353d","group":"3bf82a0a.a77786","order":14,"width":0,"height":0,"name":"Device1_Area","label":"Device1 Area","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":1520,"wires":[]},{"id":"5dafdb7a.6e31d4","type":"openweathermap","z":"73a9c0e6.d353d","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":1730,"y":1640,"wires":[["e28fe3b.357c62","a406c096.b0673"]]},{"id":"22ec5f93.40c9b","type":"function","z":"73a9c0e6.d353d","name":"parse Data","func":"msg.location = {\"city\":global.get(\"city\"), \"country\":global.get(\"country\")};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":1640,"wires":[["5dafdb7a.6e31d4"]]},{"id":"b2d89a4c.da72d8","type":"ui_text_input","z":"73a9c0e6.d353d","name":"","label":"Country","tooltip":"","group":"b80a505f.d5208","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"country","x":1400,"y":1520,"wires":[["67c3c49e.7f5d2c"]]},{"id":"9be8da18.1cc718","type":"ui_text_input","z":"73a9c0e6.d353d","name":"","label":"City","tooltip":"","group":"b80a505f.d5208","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"city","x":1390,"y":1580,"wires":[["f6cf3e15.d1ede"]]},{"id":"67c3c49e.7f5d2c","type":"function","z":"73a9c0e6.d353d","name":"Get country ","func":"global.set(\"country\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1570,"y":1520,"wires":[[]]},{"id":"f6cf3e15.d1ede","type":"function","z":"73a9c0e6.d353d","name":"Get city","func":"global.set(\"city\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":1580,"wires":[[]]},{"id":"64f157ec.96da58","type":"ui_button","z":"73a9c0e6.d353d","name":"","group":"b80a505f.d5208","order":4,"width":0,"height":0,"passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":1390,"y":1640,"wires":[["22ec5f93.40c9b","85c8b429.492bf8"]]},{"id":"fa69c0e4.24931","type":"ui_dropdown","z":"73a9c0e6.d353d","name":"select device","label":"","tooltip":"","place":"Select option","group":"85da3d9c.eab37","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"device 1","value":"1","type":"str"},{"label":"device 2","value":"2","type":"str"},{"label":"device 3","value":"3","type":"str"}],"payload":"","topic":"topic","topicType":"str","x":1430,"y":820,"wires":[["31c230ff.bbed8"]]},{"id":"6bc6465f.445bd8","type":"ui_button","z":"73a9c0e6.d353d","name":"Calibration Button","group":"85da3d9c.eab37","order":2,"width":0,"height":0,"passthru":false,"label":"Start Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ONN","payloadType":"str","topic":"topic","topicType":"str","x":1450,"y":960,"wires":[["f7d15150.1a134","ce4eeab8.152ea8"]]},{"id":"85c8b429.492bf8","type":"trigger","z":"73a9c0e6.d353d","name":"","op1":"ffgg","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1540,"y":1700,"wires":[["9af2f36a.5186d"]]},{"id":"9af2f36a.5186d","type":"function","z":"73a9c0e6.d353d","name":"Set time","func":"var current = new Date();\nvar hour =  current.getHours();\nhour = hour.toString();\nvar minute = current.getMinutes();\nminute = minute.toString();\nvar second = current.getSeconds();\nsecond = second.toString();\n\n\n\nreturn{\n    payload: hour + \":\" + minute + \":\" +second+\"(Hr:Min:Sec)\"\n      };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":1700,"wires":[["44405aeb.b97b04"]]},{"id":"44405aeb.b97b04","type":"ui_text","z":"73a9c0e6.d353d","group":"b80a505f.d5208","order":1,"width":0,"height":0,"name":"Time","label":"Time :","format":"{{msg.payload}}","layout":"row-spread","x":1930,"y":1700,"wires":[]},{"id":"a6e4fa66.3f0458","type":"function","z":"73a9c0e6.d353d","name":"Categorizing","func":"var sc =  parseInt(msg.payload.SCANNER);\n\nif (msg.payload.UUID == global.get(\"U1\")){\n    if (sc==1){\n        var UUID1RSSI1LT= global.get(\"UUID1RSSI1L\");\n        UUID1RSSI1LT.push(parseInt(msg.payload.RSSI));\n        global.set(\"UUID1RSSI1L\",UUID1RSSI1LT);\n        if((UUID1RSSI1LT.length)==5){\n            UUID1RSSI1LT.sort();\n            global.set(\"UUID1RSSI1\",UUID1RSSI1LT[2]);\n            global.set(\"UUID1RSSI1L\",[]);\n            \n        }\n    }\n    else if(sc ==2){\n        var UUID1RSSI2LT= global.get(\"UUID1RSSI2L\");\n        UUID1RSSI2LT.push(parseInt(msg.payload.RSSI));\n        global.set(\"UUID1RSSI2L\",UUID1RSSI2LT);\n        if((UUID1RSSI2LT.length)==5){\n            UUID1RSSI2LT.sort();\n            global.set(\"UUID1RSSI2\",UUID1RSSI2LT[2]);\n            global.set(\"UUID1RSSI2L\",[]);\n            \n        }\n    }\n    else if(sc ==3){\n        var UUID1RSSI3LT= global.get(\"UUID1RSSI3L\");\n        UUID1RSSI3LT.push(parseInt(msg.payload.RSSI));\n        global.set(\"UUID1RSSI3L\",UUID1RSSI3LT);\n        if((UUID1RSSI3LT.length)==5){\n            UUID1RSSI3LT.sort();\n            global.set(\"UUID1RSSI3\",UUID1RSSI3LT[2]);\n            global.set(\"UUID1RSSI3L\",[]);\n            \n        }\n    }\n    }\nelse if (msg.payload.UUID == global.get(\"U2\")){\n    if (sc==1){\n        \n        var UUID2RSSI1LT= global.get(\"UUID2RSSI1L\");\n    \n        UUID2RSSI1LT.push(parseInt(msg.payload.RSSI));\n        global.set(\"UUID2RSSI1L\",UUID2RSSI1LT);\n        if((UUID2RSSI1LT.length)==5){\n            UUID2RSSI1LT.sort();\n            global.set(\"UUID2RSSI1\",UUID2RSSI1LT[2]);\n            global.set(\"UUID2RSSI1L\",[]);\n            \n        }\n        \n        \n    }\n        //global.set(\"UUID2RSSI1\",parseInt(msg.payload.RSSI));\n        //return{payload:4};\n    else if(sc ==2){\n       var UUID2RSSI2LT= global.get(\"UUID2RSSI2L\");\n    \n        UUID2RSSI2LT.push(parseInt(msg.payload.RSSI));\n        global.set(\"UUID2RSSI2L\",UUID2RSSI2LT);\n        if((UUID2RSSI2LT.length)==5){\n            UUID2RSSI2LT.sort();\n            global.set(\"UUID2RSSI2\",UUID2RSSI2LT[2]);\n            global.set(\"UUID2RSSI2L\",[]);\n            \n        }\n            \n        }\n        //global.set(\"UUID2RSSI2\",parseInt(msg.payload.RSSI));\n        //return{payload:5};\n    else if(sc ==3){\n        var UUID2RSSI3LT= global.get(\"UUID2RSSI3L\");\n    \n        UUID2RSSI3LT.push(parseInt(msg.payload.RSSI));\n        global.set(\"UUID2RSSI3L\",UUID2RSSI3LT);\n        if((UUID2RSSI3LT.length)==5){\n            UUID2RSSI3LT.sort();\n            global.set(\"UUID2RSSI3\",UUID2RSSI3LT[2]);\n            global.set(\"UUID2RSSI3L\",[]);\n            \n        }\n            \n        }\n}\n        \n        //global.set(\"UUID2RSSI3\",parseInt(msg.payload.RSSI));\n        //return{payload:6};\nelse if (msg.payload.UUID == global.get(\"U3\")){\n    if (sc==1){\n        global.set(\"UUID3RSSI1\",parseInt(msg.payload.RSSI));\n        //return{payload:7};\n    }\n    else if(sc ==2){\n        global.set(\"UUID3RSSI2\",parseInt(msg.payload.RSSI));\n        //return{payload:8};\n    }\n    else if(sc ==3){\n        global.set(\"UUID3RSSI3\",parseInt(msg.payload.RSSI));\n       //return{payload:9};\n        \n    }\n}\nglobal.set(\"UUID1\",{\"RSSI1\":global.get(\"UUID1RSSI1\"),\"RSSI2\":global.get(\"UUID1RSSI2\"),\"RSSI3\":global.get(\"UUID1RSSI3\")});\nglobal.set(\"UUID2\",{\"RSSI1\":global.get(\"UUID2RSSI1\"),\"RSSI2\":global.get(\"UUID2RSSI2\"),\"RSSI3\":global.get(\"UUID2RSSI3\")});\nglobal.set(\"UUID3\",{\"RSSI1\":global.get(\"UUID3RSSI1\"),\"RSSI2\":global.get(\"UUID3RSSI2\"),\"RSSI3\":global.get(\"UUID3RSSI3\")});\nvar test = global.get(\"UUID1\")\nmsg.payload = test.RSSI1;\nmsg.topic = \"RSSI1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":900,"wires":[["2ce20bd7.f46094","cea66c74.dbded","cac7785f.a3b748","71034591.92d8ac","bddc23a7.c6f18","36f14342.37d9ec","7a2b84f0.00addc","4c20d704.9a2758","90a84a1.62798b8","c13b67ab.6ccdb8","f7a79140.2eaa7","a1a31e17.6c501"]]},{"id":"1e847f00.d33f11","type":"function","z":"73a9c0e6.d353d","name":"Initilizing","func":"global.set(\"U1\",\"80c350a9-f603-26b0-ae4d-67292f81dab9\");\nglobal.set(\"U2\",\"0a8ff39a-1689-409b-8d4c-14444b06d438\");\nglobal.set(\"U3\",\"6a408c2b-d200-03b3-c249-1cd0da2de6af\");\nglobal.set(\"U4\",\"af8d5bfc-ce32-3cab-a24a-649478a08f11\");\nglobal.set(\"U5\",\"43ade1c5-8f74-758a-0c47-2425c116befd\");\nglobal.set(\"U6\",\"9c5aeb7f-620d-b293-ea4a-c8e1c306ba7b\");\n\nglobal.set(\"UUID1RSSI1\",-100);\nglobal.set(\"UUID1RSSI2\",-100);\nglobal.set(\"UUID1RSSI3\",-100);\nglobal.set(\"UUID2RSSI1\",-100);\nglobal.set(\"UUID2RSSI2\",-100);\nglobal.set(\"UUID2RSSI3\",-100);\nglobal.set(\"UUID3RSSI1\",-100);\nglobal.set(\"UUID3RSSI2\",-100);\nglobal.set(\"UUID3RSSI3\",-100);\n\nglobal.set(\"UUID1RSSI1L\",[]);\nglobal.set(\"UUID1RSSI2L\",[]);\nglobal.set(\"UUID1RSSI3L\",[]);\nglobal.set(\"UUID2RSSI1L\",[]);\nglobal.set(\"UUID2RSSI2L\",[]);\nglobal.set(\"UUID2RSSI3L\",[]);\nglobal.set(\"UUID3RSSI1L\",[]);\nglobal.set(\"UUID3RSSI2L\",[]);\nglobal.set(\"UUID3RSSI3L\",[]);\n\nglobal.set(\"V1\",1);\nglobal.set(\"V2\",1);\nglobal.set(\"V3\",1);\n\n//global.set(\"UUID2\",{UUID:\"U2\",RSSI:[-100,-100,-100]});\n//global.set(\"UUID3\",{UUID:\"U3\",RSSI:[-100,-100,-100]});\n//global.set(\"UUID4\",{UUID:\"U4\",RSSI:[-100,-100,-100]});\n//global.set(\"UUID5\",{UUID:\"U5\",RSSI:[-100,-100,-100]});\n//global.set(\"UUID6\",{UUID:\"U6\",RSSI:[-100,-100,-100]});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":740,"wires":[[]]},{"id":"ff7205ed.e78aa8","type":"ui_button","z":"73a9c0e6.d353d","name":"","group":"be1c821c.33ea8","order":5,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"str","x":70,"y":740,"wires":[["1e847f00.d33f11"]]},{"id":"45f4e148.bfe05","type":"mqtt in","z":"73a9c0e6.d353d","name":"","topic":"fromDEV1","qos":"0","datatype":"json","broker":"aaf01b37.ff6dc8","nl":false,"rap":false,"x":80,"y":840,"wires":[["a6e4fa66.3f0458"]]},{"id":"31c230ff.bbed8","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"device\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":820,"wires":[[]]},{"id":"f7d15150.1a134","type":"function","z":"73a9c0e6.d353d","name":"","func":"var de = global.get(\"device\");\nvar po = global.get(\"position\");\nreturn{\n  payload: \"Calibration on! \" + \"device \" + de + \" at position \" +po\n};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":960,"wires":[["7ad50fbd.6b049"]]},{"id":"7baeb84.4c17448","type":"ui_dropdown","z":"73a9c0e6.d353d","name":"select postition","label":"","tooltip":"","place":"Select option","group":"6705a997.8efbc8","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Position1","value":"1","type":"str"},{"label":"Position2","value":"2","type":"str"},{"label":"Position3","value":"3","type":"str"}],"payload":"","topic":"topic","topicType":"str","x":1440,"y":880,"wires":[["78bebd12.324124"]]},{"id":"78bebd12.324124","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"position\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":880,"wires":[[]]},{"id":"a1a31e17.6c501","type":"function","z":"73a9c0e6.d353d","name":"Calibration File Write","func":"var de = global.get(\"device\");\nvar po = global.get(\"position\");\nif (global.get(\"calibtation_status\") == \"on\"){\nvar sc =  parseInt(msg.payload.SCANNER);\n\n\n \nif (de ==\"1\"){\n    //msg.payload.UUID == global.get(\"U1\")&& \n    if (sc==1){\n        global.set(\"UUID1RSSI1\",parseInt(msg.payload.RSSI));\n    }\n    else if(sc ==2){\n        global.set(\"UUID1RSSI2\",parseInt(msg.payload.RSSI));\n    }\n    else if(sc ==3){\n        global.set(\"UUID1RSSI3\",parseInt(msg.payload.RSSI));\n    }\n   \n    return{\n        payload:{\n            RSSI1:global.get(\"UUID1RSSI1\"),\n            RSSI2:global.get(\"UUID1RSSI2\"),\n            RSSI3:global.get(\"UUID1RSSI3\"),\n        },\n        filename:\"/home/pi/Desktop/nodered_calibration/D\"+ de +\"P\"+ po +\".txt\"\n    };\n}\nelse if (de==\"2\"){\n    //msg.payload.UUID == global.get(\"U2\") && \n    \n    if (sc==1){\n        global.set(\"UUID2RSSI1\",parseInt(msg.payload.RSSI));\n    }\n    else if(sc ==2){\n        global.set(\"UUID2RSSI2\",parseInt(msg.payload.RSSI));\n\n    }\n    else if(sc ==3){\n        global.set(\"UUID2RSSI3\",parseInt(msg.payload.RSSI));\n    }\n    \n    \n    return{\n        payload:{\n            RSSI1:global.get(\"UUID2RSSI1\"),\n            RSSI2:global.get(\"UUID2RSSI2\"),\n            RSSI3:global.get(\"UUID2RSSI3\"),\n        },\n        filename:\"/home/pi/Desktop/nodered_calibration/D\"+ de +\"P\"+ po +\".txt\"\n    };\n}\nelse if (de==\"3\"){\n    //msg.payload.UUID == global.get(\"U3\")&& \n    \n    if (sc==1){\n        global.set(\"UUID3RSSI1\",parseInt(msg.payload.RSSI));\n        \n    }\n    else if(sc ==2){\n        global.set(\"UUID3RSSI2\",parseInt(msg.payload.RSSI));\n       \n    }\n    else if(sc ==3){\n        global.set(\"UUID3RSSI3\",parseInt(msg.payload.RSSI));\n    }\n    \n    \n    return{\n        payload:{\n            RSSI1:global.get(\"UUID3RSSI1\"),\n            RSSI2:global.get(\"UUID3RSSI2\"),\n            RSSI3:global.get(\"UUID3RSSI3\"),\n        },\n        filename:\"/home/pi/Desktop/nodered_calibration/D\"+ de +\"P\"+ po +\".txt\"\n    };\n}\n}\n\n\n  ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":760,"wires":[["7d53c212.fadf4c"]]},{"id":"504af2f.f7b040c","type":"function","z":"73a9c0e6.d353d","name":"","func":"var de = global.get(\"device\");\nvar po = global.get(\"position\");\nglobal.set(\"calibtation_status\",\"on\");\n\nif (msg.payload == 2){\n    global.set(\"calibtation_status\",\"off\");\n    return{ payload: \"device \"+de+\" calibrated! at position \"+po};\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":1040,"wires":[["ef6a1121.87b27","74d674fa.005bec","d95e4579.2d8558"]]},{"id":"7ad50fbd.6b049","type":"ui_toast","z":"73a9c0e6.d353d","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1810,"y":960,"wires":[]},{"id":"ef6a1121.87b27","type":"ui_toast","z":"73a9c0e6.d353d","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1870,"y":1040,"wires":[]},{"id":"ce4eeab8.152ea8","type":"trigger","z":"73a9c0e6.d353d","name":"","op1":"1","op2":"2","op1type":"num","op2type":"num","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1510,"y":1040,"wires":[["504af2f.f7b040c"]]},{"id":"7d53c212.fadf4c","type":"file","z":"73a9c0e6.d353d","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":750,"y":760,"wires":[[]]},{"id":"2ce20bd7.f46094","type":"file in","z":"73a9c0e6.d353d","name":"","filename":"/home/pi/Desktop/nodered_calibration/D1P1.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":680,"y":820,"wires":[["c77fb464.0db3f8"]]},{"id":"c77fb464.0db3f8","type":"function","z":"73a9c0e6.d353d","name":"","func":"if (msg.payload != \"\"){\n    return{payload:msg.payload}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":820,"wires":[["6a7044ef.86d60c"]]},{"id":"6a7044ef.86d60c","type":"json","z":"73a9c0e6.d353d","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":820,"wires":[["b4a7a38b.17aee"]]},{"id":"cea66c74.dbded","type":"file in","z":"73a9c0e6.d353d","name":"","filename":"/home/pi/Desktop/nodered_calibration/D1P2.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":680,"y":880,"wires":[["b23921c4.86b2c"]]},{"id":"b23921c4.86b2c","type":"function","z":"73a9c0e6.d353d","name":"","func":"if (msg.payload != \"\"){\n    return{payload:msg.payload}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":880,"wires":[["57491458.5585ec"]]},{"id":"57491458.5585ec","type":"json","z":"73a9c0e6.d353d","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":880,"wires":[["a52dd6da.1e5cf8"]]},{"id":"cac7785f.a3b748","type":"file in","z":"73a9c0e6.d353d","name":"","filename":"/home/pi/Desktop/nodered_calibration/D1P3.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":680,"y":940,"wires":[["b80aaa4b.5106b8"]]},{"id":"b80aaa4b.5106b8","type":"function","z":"73a9c0e6.d353d","name":"","func":"if (msg.payload != \"\"){\n    return{payload:msg.payload}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":940,"wires":[["1885ee7.89e3112"]]},{"id":"1885ee7.89e3112","type":"json","z":"73a9c0e6.d353d","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":940,"wires":[["59fe8691.8ff7c8"]]},{"id":"71034591.92d8ac","type":"file in","z":"73a9c0e6.d353d","name":"","filename":"/home/pi/Desktop/nodered_calibration/D2P1.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":680,"y":1040,"wires":[["565f584e.529768"]]},{"id":"565f584e.529768","type":"function","z":"73a9c0e6.d353d","name":"","func":"if (msg.payload != \"\"){\n    return{payload:msg.payload}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1040,"wires":[["38412a3f.020786"]]},{"id":"38412a3f.020786","type":"json","z":"73a9c0e6.d353d","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":1040,"wires":[["75f10d12.ce5534"]]},{"id":"bddc23a7.c6f18","type":"file in","z":"73a9c0e6.d353d","name":"","filename":"/home/pi/Desktop/nodered_calibration/D2P2.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":680,"y":1100,"wires":[["4847939c.6d6a2c"]]},{"id":"4847939c.6d6a2c","type":"function","z":"73a9c0e6.d353d","name":"","func":"if (msg.payload != \"\"){\n    return{payload:msg.payload}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1100,"wires":[["de01fe57.56676"]]},{"id":"de01fe57.56676","type":"json","z":"73a9c0e6.d353d","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":1100,"wires":[["37490237.55f64e"]]},{"id":"36f14342.37d9ec","type":"file in","z":"73a9c0e6.d353d","name":"","filename":"/home/pi/Desktop/nodered_calibration/D2P3.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":680,"y":1160,"wires":[["8ba9a8c7.271998"]]},{"id":"8ba9a8c7.271998","type":"function","z":"73a9c0e6.d353d","name":"","func":"if (msg.payload != \"\"){\n    return{payload:msg.payload}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1160,"wires":[["863f4677.49a7a8"]]},{"id":"863f4677.49a7a8","type":"json","z":"73a9c0e6.d353d","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":1160,"wires":[["bfdceffb.09a62"]]},{"id":"7a2b84f0.00addc","type":"file in","z":"73a9c0e6.d353d","name":"","filename":"/home/pi/Desktop/nodered_calibration/D3P1.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":680,"y":1260,"wires":[["bd4f7082.fa48a"]]},{"id":"bd4f7082.fa48a","type":"function","z":"73a9c0e6.d353d","name":"","func":"if (msg.payload != \"\"){\n    return{payload:msg.payload}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1260,"wires":[["709ce570.80484c"]]},{"id":"709ce570.80484c","type":"json","z":"73a9c0e6.d353d","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":1260,"wires":[["9fcb002f.1d88"]]},{"id":"4c20d704.9a2758","type":"file in","z":"73a9c0e6.d353d","name":"","filename":"/home/pi/Desktop/nodered_calibration/D3P2.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":680,"y":1320,"wires":[["3f3a2807.ccce18"]]},{"id":"3f3a2807.ccce18","type":"function","z":"73a9c0e6.d353d","name":"","func":"if (msg.payload != \"\"){\n    return{payload:msg.payload}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1320,"wires":[["6605422a.d9040c"]]},{"id":"6605422a.d9040c","type":"json","z":"73a9c0e6.d353d","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":1320,"wires":[["d5f289eb.f4f998"]]},{"id":"90a84a1.62798b8","type":"file in","z":"73a9c0e6.d353d","name":"","filename":"/home/pi/Desktop/nodered_calibration/D3P3.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":680,"y":1380,"wires":[["caa64c8.3e812b"]]},{"id":"caa64c8.3e812b","type":"function","z":"73a9c0e6.d353d","name":"","func":"if (msg.payload != \"\"){\n    return{payload:msg.payload}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1380,"wires":[["7d6bd4f2.1900ac"]]},{"id":"7d6bd4f2.1900ac","type":"json","z":"73a9c0e6.d353d","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":1380,"wires":[["f3725972.a478d8"]]},{"id":"b4a7a38b.17aee","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"D1P1\",msg.payload);\n//msg.payload = global.get(\"D1P1\").RSSI1;\nreturn {payload:global.get(\"D1P1\")};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":820,"wires":[[]]},{"id":"a52dd6da.1e5cf8","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"D1P2\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":880,"wires":[[]]},{"id":"59fe8691.8ff7c8","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"D1P3\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":940,"wires":[[]]},{"id":"75f10d12.ce5534","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"D2P1\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1040,"wires":[[]]},{"id":"37490237.55f64e","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"D2P2\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1100,"wires":[[]]},{"id":"bfdceffb.09a62","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"D2P3\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1160,"wires":[[]]},{"id":"9fcb002f.1d88","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"D3P1\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1260,"wires":[[]]},{"id":"d5f289eb.f4f998","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"D3P2\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1320,"wires":[[]]},{"id":"f3725972.a478d8","type":"function","z":"73a9c0e6.d353d","name":"","func":"global.set(\"D3P3\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1380,"wires":[[]]},{"id":"fb195e71.15649","type":"ui_text","z":"73a9c0e6.d353d","group":"3bf82a0a.a77786","order":15,"width":0,"height":0,"name":"Device2_Area","label":"Device2 Area","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":1580,"wires":[]},{"id":"314ac041.0744f","type":"ui_text","z":"73a9c0e6.d353d","group":"3bf82a0a.a77786","order":16,"width":0,"height":0,"name":"Device3_Area","label":"Device3 Area","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":1640,"wires":[]},{"id":"fb5fd88c.cab8a8","type":"function","z":"73a9c0e6.d353d","name":"","func":"msg.payload = global.get(\"D1_Position\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1520,"wires":[["f9652a40.e93b08"]]},{"id":"96ead738.18a3e8","type":"function","z":"73a9c0e6.d353d","name":"","func":"msg.payload = global.get(\"D2_Position\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1580,"wires":[["fb195e71.15649"]]},{"id":"44757116.d53a2","type":"function","z":"73a9c0e6.d353d","name":"","func":"msg.payload = global.get(\"D3_Position\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1640,"wires":[["314ac041.0744f"]]},{"id":"87f9d3b.e53853","type":"debug","z":"73a9c0e6.d353d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1640,"wires":[]},{"id":"a0ed3e0a.61246","type":"mqtt in","z":"73a9c0e6.d353d","name":"","topic":"fromDEV2","qos":"0","datatype":"json","broker":"aaf01b37.ff6dc8","nl":false,"rap":false,"x":80,"y":900,"wires":[["a6e4fa66.3f0458"]]},{"id":"1c56ccf9.06a893","type":"mqtt in","z":"73a9c0e6.d353d","name":"","topic":"fromDEV3","qos":"0","datatype":"json","broker":"aaf01b37.ff6dc8","nl":false,"rap":false,"x":80,"y":960,"wires":[["a6e4fa66.3f0458"]]},{"id":"56abaa62.06e624","type":"function","z":"73a9c0e6.d353d","name":"perLight","func":"msg.payload = global.get(\"per_light\");\nif (global.get(\"per_light\") ==\"1\"){\n    msg.perLIGHT = \"ON\";\n}\nelse { msg.perLIGHT = \"OFF\"; }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1720,"wires":[["e694242c.a282c8","6725d02.f02e63"]]},{"id":"32a61697.6720aa","type":"function","z":"73a9c0e6.d353d","name":"posLight","func":"msg.payload = global.get(\"pos_light\");\nif (global.get(\"pos_light\") ==\"1\"){\n    msg.posLIGHT = \"ON\";\n}\nelse { msg.posLIGHT = \"OFF\"; }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1880,"wires":[["4c506a2f.a00f24","ea924105.eeeb5"]]},{"id":"e694242c.a282c8","type":"mqtt out","z":"73a9c0e6.d353d","name":"perLIGHT","topic":"perLIGHT","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"aaf01b37.ff6dc8","x":1100,"y":1800,"wires":[]},{"id":"4c506a2f.a00f24","type":"mqtt out","z":"73a9c0e6.d353d","name":"posLIGHT","topic":"posLIGHT","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"aaf01b37.ff6dc8","x":1110,"y":1960,"wires":[]},{"id":"6725d02.f02e63","type":"ui_text","z":"73a9c0e6.d353d","group":"11e64c41.a234e4","order":14,"width":0,"height":0,"name":"Device1_Area","label":"Permenent Light","format":"{{msg.perLIGHT}}","layout":"row-spread","x":1120,"y":1720,"wires":[]},{"id":"ea924105.eeeb5","type":"ui_text","z":"73a9c0e6.d353d","group":"11e64c41.a234e4","order":14,"width":0,"height":0,"name":"Device1_Area","label":"Position Light","format":"{{msg.posLIGHT}}","layout":"row-spread","x":1120,"y":1880,"wires":[]},{"id":"74d674fa.005bec","type":"trigger","z":"73a9c0e6.d353d","name":"Trigger payload","op1":"OFF","op2":"2","op1type":"str","op2type":"num","duration":"-0.5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1920,"y":1100,"wires":[[]]},{"id":"d95e4579.2d8558","type":"trigger","z":"73a9c0e6.d353d","name":"","op1":"1","op2":"2","op1type":"num","op2type":"num","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1780,"y":1160,"wires":[["7462b6e6.a5e838"]]},{"id":"7462b6e6.a5e838","type":"function","z":"73a9c0e6.d353d","name":"Stop Sending payload","func":"if (msg.payload == 2){\n    return{ reset : 0};\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1940,"y":1160,"wires":[["74d674fa.005bec"]]},{"id":"f307e6fa.7fa178","type":"debug","z":"73a9c0e6.d353d","name":"UUID2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1440,"wires":[]},{"id":"f7a79140.2eaa7","type":"function","z":"73a9c0e6.d353d","name":"","func":"msg.payload= global.get(\"UUID2\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1440,"wires":[["f307e6fa.7fa178"]]},{"id":"e28fe3b.357c62","type":"ui_gauge","z":"73a9c0e6.d353d","name":"Temperature","group":"b80a505f.d5208","order":6,"width":0,"height":0,"gtype":"gage","title":"Temperature (C)","label":"units","format":"{{msg.payload.tempc}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"40","x":1950,"y":1540,"wires":[]},{"id":"a406c096.b0673","type":"ui_gauge","z":"73a9c0e6.d353d","name":"Humidity","group":"b80a505f.d5208","order":6,"width":0,"height":0,"gtype":"gage","title":"Humidity (%)","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b306","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":1940,"y":1620,"wires":[]},{"id":"3bf82a0a.a77786","type":"ui_group","name":"Device Position","tab":"f8089174.275c2","order":4,"disp":true,"width":"6","collapse":false},{"id":"b80a505f.d5208","type":"ui_group","name":"Weather","tab":"f8089174.275c2","order":2,"disp":true,"width":"6","collapse":false},{"id":"85da3d9c.eab37","type":"ui_group","name":"Select device","tab":"8fe977b1.269118","order":1,"disp":true,"width":"6","collapse":false},{"id":"be1c821c.33ea8","type":"ui_group","name":"Device On","tab":"f8089174.275c2","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaf01b37.ff6dc8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6705a997.8efbc8","type":"ui_group","name":"Position","tab":"8fe977b1.269118","order":1,"disp":true,"width":"6","collapse":false},{"id":"11e64c41.a234e4","type":"ui_group","name":"Light Status","tab":"f8089174.275c2","order":3,"disp":true,"width":"6","collapse":false},{"id":"f8089174.275c2","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"8fe977b1.269118","type":"ui_tab","name":"Calibration","icon":"dashboard","disabled":false,"hidden":false}]